.icon-ts-icon-line-agraria:before {
	content: "\e600";
}
.icon-ts-icon-line-aguapotable:before {
	content: "\e601";
}
.icon-ts-icon-line-anuncio:before {
	content: "\e602";
}
.icon-ts-icon-line-asesoriatelefonica:before {
	content: "\e603";
}
.icon-ts-icon-line-asesoriayasistenciasocial:before {
	content: "\e604";
}
.icon-ts-icon-line-auxiliodelafuerzapublica:before {
	content: "\e605";
}
.icon-ts-icon-line-construccionesyobras:before {
	content: "\e606";
}
.icon-ts-icon-line-culturayrecreacion:before {
	content: "\e607";
}
.icon-ts-icon-line-deportes:before {
	content: "\e608";
}
.icon-ts-icon-line-espectaculospublicos:before {
	content: "\e609";
}
.icon-ts-icon-line-establecimientosmercantiles:before {
	content: "\e60a";
}
.icon-ts-icon-line-fomentoeconomico:before {
	content: "\e60b";
}
.icon-ts-icon-line-funerarios:before {
	content: "\e60c";
}
.icon-ts-icon-line-industria:before {
	content: "\e60d";
}
.icon-ts-icon-line-mantenimientoainfraestructura:before {
	content: "\e60e";
}
.icon-ts-icon-line-mercadospublicos:before {
	content: "\e60f";
}
.icon-ts-icon-line-patrimonioculturalurbano:before {
	content: "\e610";
}
.icon-ts-icon-line-proteccioncivil:before {
	content: "\e611";
}
.icon-ts-icon-line-quejasydemandasvecinales:before {
	content: "\e612";
}
.icon-ts-icon-line-registrocivil:before {
	content: "\e613";
}
.icon-ts-icon-line-registropublicodelapropiedad:before {
	content: "\e614";
}
.icon-ts-icon-line-regularizaciondelatierra:before {
	content: "\e615";
}
.icon-ts-icon-line-regularizacionterritorial:before {
	content: "\e616";
}
.icon-ts-icon-line-salud:before {
	content: "\e617";
}
.icon-ts-icon-line-serviciosurbanos:before {
	content: "\e618";
}
.icon-ts-icon-line-servicioslegalesyarchivos:before {
	content: "\e619";
}
.icon-ts-icon-line-serviciosurbanoslimpiaeinfraestructura:before {
	content: "\e61a";
}
.icon-ts-icon-line-taxis:before {
	content: "\e61b";
}
.icon-ts-icon-line-trabajo:before {
	content: "\e61c";
}
.icon-ts-icon-line-turismo:before {
	content: "\e61d";
}
.icon-ts-icon-line-usodesuelo:before {
	content: "\e61e";
}
.icon-ts-icon-line-vehiculosautomotores:before {
	content: "\e61f";
}
.icon-ts-icon-line-vehiculosautomotoresdepasajerosycarga:before {
	content: "\e620";
}
.icon-ts-icon-line-videojuegos:before {
	content: "\e621";
}
.icon-ts-icon-filled-auxiliodelafuerzapublica:before {
	content: "\e622";
}
.icon-ts-icon-filled-registropublicodelapropiedadydecomercio:before {
	content: "\e623";
}
.icon-ts-icon-filled-regularizaciondeapollo:before {
	content: "\e624";
}
.icon-ts-icon-filled-salud:before {
	content: "\e625";
}
.icon-ts-icon-filled-serviciosurbanoseinfraestructuraurbana:before {
	content: "\e626";
}
.icon-ts-icon-filled-asesoriatelefonica:before {
	content: "\e627";
}
.icon-ts-icon-filled-culturayrecreacion:before {
	content: "\e628";
}
.icon-ts-icon-filled-fomentoeconomico:before {
	content: "\e629";
}
.icon-ts-icon-filled-mantenimientoainfraestructura:before {
	content: "\e62a";
}
.icon-ts-icon-filled-quejasydemandasvecinales:before {
	content: "\e62b";
}
.icon-ts-icon-filled-agraria:before {
	content: "\e62c";
}
.icon-ts-icon-filled-turismo:before {
	content: "\e62d";
}
.icon-ts-icon-filled-usodesuelo:before {
	content: "\e62e";
}
.icon-ts-icon-filled-vehiculosautomotoresdepasajerosycarga:before {
	content: "\e62f";
}
.icon-ts-icon-filled-vehiculosautomotoresparticulares:before {
	content: "\e630";
}
.icon-ts-icon-filled-videojuegos:before {
	content: "\e631";
}
.icon-ts-icon-filled-registrocivil:before {
	content: "\e632";
}
.icon-ts-icon-filled-regularizacionterriotorial:before {
	content: "\e633";
}
.icon-ts-icon-filled-serviciosurbanos:before {
	content: "\e634";
}
.icon-ts-icon-filled-servidoreslegalesyarchivos:before {
	content: "\e635";
}
.icon-ts-icon-filled-taxis:before {
	content: "\e636";
}
.icon-ts-icon-filled-trabajo:before {
	content: "\e637";
}
.icon-ts-icon-filled-industria:before {
	content: "\e638";
}
.icon-ts-icon-filled-medioambiente:before {
	content: "\e639";
}
.icon-ts-icon-filled-mercadospublicos:before {
	content: "\e63a";
}
.icon-ts-icon-filled-patrimonioculturalurbano:before {
	content: "\e63b";
}
.icon-ts-icon-filled-proteccioncivil:before {
	content: "\e63c";
}
.icon-ts-icon-filled-construccionesyobras:before {
	content: "\e63d";
}
.icon-ts-icon-filled-deportes:before {
	content: "\e63e";
}
.icon-ts-icon-filled-espectaculospublicos:before {
	content: "\e63f";
}
.icon-ts-icon-filled-establecimientosmercantiles:before {
	content: "\e640";
}
.icon-ts-icon-filled-funerarios:before {
	content: "\e641";
}
.icon-ts-icon-filled-registropublicodelapropiedad:before {
	content: "\e642";
}
.icon-ts-icon-filled-agua:before {
	content: "\e648";
}
.icon-ts-icon-filled-anuncios:before {
	content: "\e644";
}