.icon-ts-icon-filled-reportes:before {
	content: "\e632";
}
.icon-ts-icon-filled-tramites-mas-buscados:before {
	content: "\e633";
}
.icon-ts-icon-filled-locatel:before {
	content: "\e631";
}
.icon-ts-icon-filled-anuncios:before {
	content: "\e61d";
}
.icon-ts-icon-filled-asesoria-y-asistencia-social-y-condominal:before {
	content: "\e61e";
}
.icon-ts-icon-filled-construcciones-y-obras:before {
	content: "\e61f";
}
.icon-ts-icon-filled-deportes:before {
	content: "\e620";
}
.icon-ts-icon-filled-espectaculos-publicos:before {
	content: "\e621";
}
.icon-ts-icon-filled-agua-potable-y-servicios-hidraulicos:before {
	content: "\e622";
}
.icon-ts-icon-filled-establecimientos-mercantiles:before {
	content: "\e623";
}
.icon-ts-icon-filled-funerarios:before {
	content: "\e624";
}
.icon-ts-icon-filled-industria:before {
	content: "\e625";
}
.icon-ts-icon-filled-medio-ambiente:before {
	content: "\e626";
}
.icon-ts-icon-filled-mercados-publicos-y-mercados-sobre-ruedas:before {
	content: "\e627";
}
.icon-ts-icon-filled-patrimonio-cultural-urbano:before {
	content: "\e628";
}
.icon-ts-icon-filled-proteccion-civil:before {
	content: "\e629";
}
.icon-ts-icon-filled-registro-civil:before {
	content: "\e62a";
}
.icon-ts-icon-filled-regularizacion-territorial:before {
	content: "\e62b";
}
.icon-ts-icon-filled-servicios-legales-y-archivos-de-notarias:before {
	content: "\e62c";
}
.icon-ts-icon-filled-servicios-urbanos:before {
	content: "\e62d";
}
.icon-ts-icon-filled-taxis:before {
	content: "\e62e";
}
.icon-ts-icon-filled-trabajo:before {
	content: "\e62f";
}
.icon-ts-icon-filled-turismo:before {
	content: "\e630";
}
.icon-ts-icon-filled-uso-de-suelo:before {
	content: "\e600";
}
.icon-ts-icon-filled-vehiculos-automotores-particulares:before {
	content: "\e601";
}
.icon-ts-icon-filled-vehiculos-automotores-de-pasajeros-y-carga:before {
	content: "\e602";
}
.icon-ts-icon-filled-videojuegos:before {
	content: "\e603";
}
.icon-ts-icon-filled-agraria:before {
	content: "\e604";
}
.icon-ts-icon-filled-asesoria-telefonica:before {
	content: "\e605";
}
.icon-ts-icon-filled-cultura-y-recreacion:before {
	content: "\e606";
}
.icon-ts-icon-filled-fomento-economico:before {
	content: "\e607";
}
.icon-ts-icon-filled-mantenimiento-a-infraestructura-urbana-y-habitacional:before {
	content: "\e608";
}
.icon-ts-icon-filled-quejas-y-demandas-vecinales:before {
	content: "\e609";
}
.icon-ts-icon-filled-regularizacion-de-la-tierra-y-apoyo-a-predios:before {
	content: "\e60a";
}
.icon-ts-icon-filled-salud:before {
	content: "\e60b";
}
.icon-ts-icon-filled-auxilio-de-la-fuerza-publica-y-vialidad:before {
	content: "\e60c";
}
.icon-ts-icon-filled-servicios-urbanos-limpia-e-infraestructura-urbana:before {
	content: "\e60d";
}
.icon-ts-icon-filled-registro-publico-de-la-propiedad-y-de-comercio:before {
	content: "\e60e";
}
.icon-ts-icon-filled-vivienda:before {
	content: "\e60f";
}
.icon-ts-icon-filled-temas:before {
	content: "\e610";
}
.icon-ts-icon-filled-instituciones:before {
	content: "\e611";
}
.icon-ts-icon-filled-agregar-contenido:before {
	content: "\e612";
}
.icon-ts-icon-filled-agregar-usuario:before {
	content: "\e613";
}
.icon-ts-icon-filled-editar-contenido:before {
	content: "\e614";
}
.icon-ts-icon-filled-ver-contenido:before {
	content: "\e615";
}
.icon-ts-icon-filled-usuario:before {
	content: "\e616";
}
.icon-ts-icon-filled-contrasena:before {
	content: "\e617";
}
.icon-ts-icon-filled-emergencias-secretaria-de-seguridad-publica:before {
	content: "\e618";
}
.icon-ts-icon-filled-emergencias-procuradoria-general-de-justicia:before {
	content: "\e619";
}
.icon-ts-icon-filled-cruzroja:before {
	content: "\e61a";
}
.icon-ts-icon-filled-bomberos:before {
	content: "\e61b";
}
.icon-ts-icon-filled-secretaria-de-proteccion-civil:before {
	content: "\e61c";
}